<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap5.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css">
    <title>Acceso MAT</title>
    
</head>
<body>
    
    <div class="container-fluid">
        <div class="row shadow-lg p-3 mb-5">
            <div class="col">
                <table id="tablaUsuarios" class="table table-striped table-bordered" style="width: 100%">
                    <thead>
                        <tr class="text-white" style="background-color:#6200ee;">
                            <th>ID</th>
                            <th>TIPO DOC</th>
                            <th>N° DOC</th>
                            <th>NOMBRES</th>
                            <th>AP PATERNO</th>
                            <th>AP MATERNO</th>
                            <th>SEXO</th>
                            <th>COD ALUMNO</th>
                            <th>FACULTAD</th>
                            <th>SITUACION</th>
                            <th>EMAIL PERSONAL</th>
                            <th>EMAIL INST</th>
                            <th>ACCESO ESP</th>
                            <th>PASSWORD</th>
                            <th>ESTADO</th>
                            <th>ACCIONES</th>
                        </tr>
                    </thead>

                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>  
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap5.min.js"></script>        
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>   
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>   
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>   
    <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>   
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>   
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>   

    <script>
        //MOSTRAR
        $('#tablaUsuarios').DataTable({
            ajax: {
                url: "/obtenerUsuarios",
                dataSrc: ""
            },
            columns: [
                {data: "_id"},
                {data: "tipoDocumento"},
                {data: 'numDocumento'},
                {data: "nombres"},
                {data: "apellidoPat"},
                {data: "apellidoMat"},
                {data: "sexo"},
                {data: "codAlumno"},
                {data: "facultad"},
                {data: "situacion"},
                {data: "correoPersonal"},
                {data: "correoIns"},
                {data: "accesoEspecial"},
                {data: "clave"},
                {data: "estado"},
                {data: null,
                    "render": function (data) { 
                        return '<a href="/editarUsuario/'+data._id+'" class="btn btn-warning"><i class="fas fa-edit"></i></a> <a onclick="confirmar(\'' + data._id + '\')" class="btn btn-success"><i class="far fa-envelope"></i></a>'                           
                        }
                }
            ],
            columnDefs: [
                {"targets": [0], "visible": false},
                {"targets": [1], "visible": false},
                {"targets": [5], "visible": false},
                {"targets": [6], "visible": false},
                {"targets": [9], "visible": false},
                {"targets": [11], "visible": false}
            ],
            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            dom: 'Bfrtip',
            buttons: ['excel', 'pdf'],
            pageLength : 5,
            lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']]     
        });

        function confirmar(_id) {
            Swal.fire({
            title: '¿Desea enviar credenciales de acceso al MAT?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#11A047', 
            cancelButtonColor: '#d33',
            confirmButtonText: 'Confirmar'
            }).then((result) => {
                if (result.isConfirmed) {   
                    window.location = '/enviarCredenciales/'+_id;                              
                }
            });
        };
    </script>

</body>
</html>